.benefits__container--title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

.about__rewiew--name {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.contacts__button, .about__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.contacts__form, .features__numbers--current, .header__contant--description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about__description, .benefits__container--description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer__contant, .features__slide--list {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.nav__links--link, .menu__link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.header__contant--title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contacts__title, .features__title, .about__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.features__slide--title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.about__rewiew--text {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page {
  scroll-behavior: smooth;
  background-color: #f7f7f7;
  font-family: Inter, Helvetica, sans-serif;
}

.page__body {
  margin: 0;
}

.page__body--with-menu {
  overflow: hidden;
}

.page__menu {
  transition: transform .3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
}

.page__menu:target {
  transform: translateX(0);
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

:-webkit-any(input:-webkit-autofill, textarea:-webkit-autofill) {
  color: #333;
  -webkit-text-fill-color: #333;
  transition: background-color 5000s ease-in-out;
  border: 1px solid #0c797a !important;
}

:is(input:autofill, textarea:autofill) {
  color: #333;
  -webkit-text-fill-color: #333;
  transition: background-color 5000s ease-in-out;
  border: 1px solid #0c797a !important;
}

.grid {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  display: grid;
  overflow: hidden;
}

@media (width >= 744px) and (width <= 1439px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 1440px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.grid--desctopontablet {
  display: block;
}

@media (width >= 744px) and (width <= 1439px) {
  .grid--desctopontablet {
    display: grid;
  }
}

@media (width >= 1440px) {
  .grid--desctopontablet {
    display: grid;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-1 {
    grid-column: 1 / 2;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-1 {
    grid-column: 1 / 2;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-2 {
    grid-column: 1 / 3;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-2 {
    grid-column: 1 / 3;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-3 {
    grid-column: 1 / 4;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-3 {
    grid-column: 1 / 4;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-4 {
    grid-column: 1 / 5;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-4 {
    grid-column: 1 / 5;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-5 {
    grid-column: 1 / 6;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-5 {
    grid-column: 1 / 6;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-6 {
    grid-column: 1 / 7;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-6 {
    grid-column: 1 / 7;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-7 {
    grid-column: 1 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-7 {
    grid-column: 1 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-8 {
    grid-column: 1 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-8 {
    grid-column: 1 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-9 {
    grid-column: 1 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-9 {
    grid-column: 1 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-10 {
    grid-column: 1 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-10 {
    grid-column: 1 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-11 {
    grid-column: 1 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-11 {
    grid-column: 1 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-1-12 {
    grid-column: 1 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-1-12 {
    grid-column: 1 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-2 {
    grid-column: 2 / 3;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-2 {
    grid-column: 2 / 3;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-3 {
    grid-column: 2 / 4;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-3 {
    grid-column: 2 / 4;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-4 {
    grid-column: 2 / 5;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-4 {
    grid-column: 2 / 5;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-5 {
    grid-column: 2 / 6;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-5 {
    grid-column: 2 / 6;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-6 {
    grid-column: 2 / 7;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-6 {
    grid-column: 2 / 7;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-7 {
    grid-column: 2 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-7 {
    grid-column: 2 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-8 {
    grid-column: 2 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-8 {
    grid-column: 2 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-9 {
    grid-column: 2 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-9 {
    grid-column: 2 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-10 {
    grid-column: 2 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-10 {
    grid-column: 2 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-11 {
    grid-column: 2 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-11 {
    grid-column: 2 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-2-12 {
    grid-column: 2 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-2-12 {
    grid-column: 2 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-3 {
    grid-column: 3 / 4;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-3 {
    grid-column: 3 / 4;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-4 {
    grid-column: 3 / 5;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-4 {
    grid-column: 3 / 5;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-5 {
    grid-column: 3 / 6;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-5 {
    grid-column: 3 / 6;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-6 {
    grid-column: 3 / 7;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-6 {
    grid-column: 3 / 7;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-7 {
    grid-column: 3 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-7 {
    grid-column: 3 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-8 {
    grid-column: 3 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-8 {
    grid-column: 3 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-9 {
    grid-column: 3 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-9 {
    grid-column: 3 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-10 {
    grid-column: 3 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-10 {
    grid-column: 3 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-11 {
    grid-column: 3 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-11 {
    grid-column: 3 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-3-12 {
    grid-column: 3 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-3-12 {
    grid-column: 3 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-4 {
    grid-column: 4 / 5;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-4 {
    grid-column: 4 / 5;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-5 {
    grid-column: 4 / 6;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-5 {
    grid-column: 4 / 6;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-6 {
    grid-column: 4 / 7;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-6 {
    grid-column: 4 / 7;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-7 {
    grid-column: 4 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-7 {
    grid-column: 4 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-8 {
    grid-column: 4 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-8 {
    grid-column: 4 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-9 {
    grid-column: 4 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-9 {
    grid-column: 4 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-10 {
    grid-column: 4 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-10 {
    grid-column: 4 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-11 {
    grid-column: 4 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-11 {
    grid-column: 4 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-4-12 {
    grid-column: 4 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-4-12 {
    grid-column: 4 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-5 {
    grid-column: 5 / 6;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-5 {
    grid-column: 5 / 6;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-6 {
    grid-column: 5 / 7;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-6 {
    grid-column: 5 / 7;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-7 {
    grid-column: 5 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-7 {
    grid-column: 5 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-8 {
    grid-column: 5 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-8 {
    grid-column: 5 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-9 {
    grid-column: 5 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-9 {
    grid-column: 5 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-10 {
    grid-column: 5 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-10 {
    grid-column: 5 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-11 {
    grid-column: 5 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-11 {
    grid-column: 5 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-5-12 {
    grid-column: 5 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-5-12 {
    grid-column: 5 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-6 {
    grid-column: 6 / 7;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-6 {
    grid-column: 6 / 7;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-7 {
    grid-column: 6 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-7 {
    grid-column: 6 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-8 {
    grid-column: 6 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-8 {
    grid-column: 6 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-9 {
    grid-column: 6 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-9 {
    grid-column: 6 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-10 {
    grid-column: 6 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-10 {
    grid-column: 6 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-11 {
    grid-column: 6 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-11 {
    grid-column: 6 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-6-12 {
    grid-column: 6 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-6-12 {
    grid-column: 6 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-7-7 {
    grid-column: 7 / 8;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-7-7 {
    grid-column: 7 / 8;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-7-8 {
    grid-column: 7 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-7-8 {
    grid-column: 7 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-7-9 {
    grid-column: 7 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-7-9 {
    grid-column: 7 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-7-10 {
    grid-column: 7 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-7-10 {
    grid-column: 7 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-7-11 {
    grid-column: 7 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-7-11 {
    grid-column: 7 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-7-12 {
    grid-column: 7 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-7-12 {
    grid-column: 7 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-8-8 {
    grid-column: 8 / 9;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-8-8 {
    grid-column: 8 / 9;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-8-9 {
    grid-column: 8 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-8-9 {
    grid-column: 8 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-8-10 {
    grid-column: 8 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-8-10 {
    grid-column: 8 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-8-11 {
    grid-column: 8 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-8-11 {
    grid-column: 8 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-8-12 {
    grid-column: 8 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-8-12 {
    grid-column: 8 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-9-9 {
    grid-column: 9 / 10;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-9-9 {
    grid-column: 9 / 10;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-9-10 {
    grid-column: 9 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-9-10 {
    grid-column: 9 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-9-11 {
    grid-column: 9 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-9-11 {
    grid-column: 9 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-9-12 {
    grid-column: 9 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-9-12 {
    grid-column: 9 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-10-10 {
    grid-column: 10 / 11;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-10-10 {
    grid-column: 10 / 11;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-10-11 {
    grid-column: 10 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-10-11 {
    grid-column: 10 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-10-12 {
    grid-column: 10 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-10-12 {
    grid-column: 10 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-11-11 {
    grid-column: 11 / 12;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-11-11 {
    grid-column: 11 / 12;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-11-12 {
    grid-column: 11 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-11-12 {
    grid-column: 11 / 13;
    overflow: hidden;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .grid__item--tablet-12-12 {
    grid-column: 12 / 13;
    overflow: hidden;
  }
}

@media (width >= 1440px) {
  .grid__item--desktop-12-12 {
    grid-column: 12 / 13;
    overflow: hidden;
  }
}

.header {
  flex-direction: column;
  display: flex;
}

@media (width >= 1440px) {
  .header {
    height: 100vh;
  }
}

.header__top {
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  padding-inline: 30px;
  display: flex;
}

.header__top--icon {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  display: flex;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__top {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .header__top {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .header__top {
    margin: 30px 0;
  }
}

@media (width >= 1440px) {
  .header__top {
    margin: 30px 0;
  }
}

.header__logo {
  cursor: pointer;
}

.header__logo--img {
  width: 161px;
  height: 25px;
}

.header__button {
  color: #fff;
  cursor: pointer;
  background-color: #333;
  border: 0;
  width: 100px;
  height: 48px;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  display: none;
}

.header__button:hover {
  background-color: #131313;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__button {
    display: inline-block;
  }
}

@media (width >= 1440px) {
  .header__button {
    display: inline-block;
  }
}

.header__nav {
  color: #333;
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__nav {
    display: inline-block;
  }
}

@media (width >= 1440px) {
  .header__nav {
    display: inline-block;
  }
}

.header__nav--link {
  color: #bdbdbd;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
}

.header__nav--link:hover, .header__nav--link-isActive {
  color: #333;
  font-weight: 400;
}

@media (width >= 1440px) {
  .header__nav--link {
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.header__specs {
  color: #4f4f4f;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__specs {
    display: inline-block;
  }
}

@media (width >= 1440px) {
  .header__specs {
    text-transform: uppercase;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
  }
}

.header__menu {
  background-image: url("menu.86ee4a4e.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}

@media (width >= 1440px) {
  .header__menu {
    display: none;
  }
}

.header__wraper {
  overflow: hidden;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__wraper {
    margin-top: 100px;
    padding-inline: 30px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 744px) and (width <= 1439px) {
  .header__wraper {
    padding-inline: 34px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 1440px) {
  .header__wraper {
    padding-inline: 123px;
  }
}

@media (width >= 1440px) {
  .header__wraper {
    margin-top: 60px;
    margin-bottom: 170px;
    padding-inline: 30px;
  }
}

@media (width >= 1440px) and (width >= 744px) and (width <= 1439px) {
  .header__wraper {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) and (width >= 1440px) {
  .header__wraper {
    padding-inline: 123px;
  }
}

.header__picture {
  background-image: url("Speaker.939989f4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column: 1 / -1;
  width: 100%;
  min-height: 245px;
  transition: all .5s;
}

.header__picture:hover {
  transform: scale(1.2);
}

@media (width >= 744px) and (width <= 1439px) {
  .header__picture {
    background-image: url("Speaker.248affdd.png");
    grid-column: 4 / -1;
    align-self: end;
    height: 317px;
  }
}

@media (width >= 1440px) {
  .header__picture {
    background-image: url("Speaker.b14f506f.png");
    grid-column: 5 / -1;
    align-self: end;
    height: 464px;
  }
}

.header__contant {
  opacity: 0;
  flex-direction: column;
  grid-column: 1 / -1;
  padding-inline: 30px;
  display: flex;
  transform: translateX(-100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .header__contant {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .header__contant {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .header__contant {
    z-index: 1;
    order: -1;
    grid-column: 1 / 4;
    align-self: end;
    padding-inline: 0;
  }
}

@media (width >= 1440px) {
  .header__contant {
    z-index: 1;
    order: -1;
    grid-column: 1 / 4;
    align-self: end;
    padding-inline: 0;
  }
}

.header__contant--title {
  margin: 40px 0 0;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__contant--title {
    text-transform: uppercase;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
  }
}

@media (width >= 1440px) {
  .header__contant--title {
    text-transform: uppercase;
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
  }
}

.header__contant--description {
  color: #333;
  margin: 20px 0 0;
}

@media (width >= 744px) and (width <= 1439px) {
  .header__contant--description {
    margin: 30px 0 0;
  }
}

@media (width >= 1440px) {
  .header__contant--description {
    margin: 30px 0 0;
  }
}

.menu {
  z-index: 2;
  background: #f9f9f9;
  padding-inline: 30px;
  overflow: auto;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .menu {
    padding-inline: 123px;
    display: none;
  }
}

.menu__content {
  box-sizing: border-box;
  height: 100vh;
  padding-top: 24px;
  position: relative;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__content {
    padding-top: 36px;
  }
}

@media (width >= 1440px) {
  .menu__content {
    padding-top: 36px;
  }
}

.menu__top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu__top--icon {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  display: flex;
}

.menu__logo {
  cursor: pointer;
}

.menu__logo-img {
  width: 161px;
  height: 26px;
}

.menu__close {
  cursor: pointer;
  background-image: url("close.ee38cb55.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: block;
}

.menu__list {
  margin: 55px 0 50px;
  padding: 0;
  list-style: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__list {
    margin: 40px 0 0;
  }
}

@media (width >= 1440px) {
  .menu__list {
    margin: 40px 0 0;
  }
}

.menu__item {
  margin-bottom: 25px;
}

.menu__item:last-child {
  margin-bottom: 0;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__item {
    margin-bottom: 40px;
  }
}

@media (width >= 1440px) {
  .menu__item {
    margin-bottom: 40px;
  }
}

.menu__link {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
  display: inline-block;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__link {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
}

@media (width >= 1440px) {
  .menu__link {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
}

.menu__link:hover {
  color: #131313;
  font-weight: 700;
}

.menu__specs {
  color: #4f4f4f;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__specs {
    display: none;
  }
}

@media (width >= 1440px) {
  .menu__specs {
    display: none;
  }
}

.menu__lan {
  color: #333;
  margin-left: 20px;
  display: inline-block;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__lan {
    display: none;
  }
}

@media (width >= 1440px) {
  .menu__lan {
    display: none;
  }
}

.menu__lan--link {
  color: #bdbdbd;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
  transition: all .3s;
}

.menu__lan--link:hover, .menu__lan--link-isActive {
  color: #333;
  font-weight: 400;
}

.menu__button {
  color: #fff;
  cursor: pointer;
  background-color: #333;
  border: 0;
  width: 100%;
  height: 48px;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  display: block;
  position: absolute;
  bottom: 30px;
}

.menu__button:hover {
  background-color: #131313;
}

@media (width >= 744px) and (width <= 1439px) {
  .menu__button {
    display: none;
  }
}

@media (width >= 1440px) {
  .menu__button {
    display: none;
  }
}

.nav {
  padding-inline: 30px;
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .nav {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .nav {
    margin: 0;
    padding-inline: 123px;
    display: block;
  }
}

.nav__list {
  opacity: 0;
  flex-direction: row;
  justify-content: center;
  gap: 84px;
  margin: 0;
  padding: 28px 0;
  list-style: none;
  display: flex;
  transform: translateY(100px);
}

.nav__links {
  display: inline-block;
}

.nav__links--link {
  color: #333;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
}

.nav__links--link:hover {
  color: #131313;
  font-weight: 700;
}

.benefits {
  margin: 110px 0;
  padding-inline: 30px;
}

@media (width >= 744px) and (width <= 1439px) {
  .benefits {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .benefits {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .benefits {
    margin: 140px 0;
  }
}

@media (width >= 1440px) {
  .benefits {
    margin: 62px 0 170px;
  }
}

.benefits__block {
  opacity: 0;
  transform: translateY(100px);
}

.benefits__block:nth-of-type(n+2):nth-of-type(-n+4) {
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .benefits__block:nth-of-type(n+2):nth-of-type(-n+4) {
    display: block;
  }

  .benefits__block:nth-last-of-type(-n+2) {
    margin-top: 65px;
  }
}

@media (width >= 1440px) {
  .benefits__block:nth-of-type(n+2):nth-of-type(-n+4) {
    display: block;
  }

  .benefits__block:nth-last-of-type(-n+2) {
    margin-top: 0;
  }
}

.benefits__container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

@media (width >= 1440px) {
  .benefits__container {
    justify-content: space-between;
    height: 286px;
  }
}

.benefits__container--wraper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.benefits__container--picture {
  width: 50px;
  height: 40px;
}

.benefits__container--title {
  color: #333;
  text-align: center;
  margin: 40px 0 0;
}

@media (width >= 744px) and (width <= 1439px) {
  .benefits__container--title {
    margin-top: 50px;
  }

  .benefits__container--title:nth-last-of-type(-n+2) {
    margin-top: 40px;
  }
}

@media (width >= 1440px) {
  .benefits__container--title {
    margin-top: 30px;
  }
}

.benefits__container--description {
  text-align: center;
  color: #7c7c7c;
  margin: 20px 0 0;
}

@media (width >= 1440px) {
  .benefits__container--description {
    height: 126px;
    margin: 0;
  }
}

.banner {
  margin: 110px 0;
  padding-inline: 12px;
}

@media (width >= 744px) and (width <= 1439px) {
  .banner {
    margin: 140px 0;
    padding-inline: 30px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 744px) and (width <= 1439px) {
  .banner {
    padding-inline: 34px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 1440px) {
  .banner {
    padding-inline: 123px;
  }
}

@media (width >= 1440px) {
  .banner {
    margin: 170px 0;
    padding-inline: 30px;
  }
}

@media (width >= 1440px) and (width >= 744px) and (width <= 1439px) {
  .banner {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) and (width >= 1440px) {
  .banner {
    padding-inline: 123px;
  }
}

.banner__picture {
  background-image: url("MeetLuna.b385104b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 195px;
}

@media (width >= 744px) and (width <= 1439px) {
  .banner__picture {
    background-image: url("MeetLuna.c6b8f6fd.png");
    height: 430px;
  }
}

@media (width >= 1440px) {
  .banner__picture {
    background-image: url("MeetLuna.6418c736.png");
    height: 520px;
  }
}

.about {
  margin: 110px 0;
  padding-inline: 30px;
}

@media (width >= 744px) and (width <= 1439px) {
  .about {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .about {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .about {
    margin: 140px 0;
    padding-inline: 0;
  }
}

@media (width >= 1440px) {
  .about {
    margin: 170px 0;
    padding-inline: 30px;
  }
}

@media (width >= 1440px) and (width >= 744px) and (width <= 1439px) {
  .about {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) and (width >= 1440px) {
  .about {
    padding-inline: 123px;
  }
}

.about__block {
  padding-bottom: 110px;
}

.about__block:last-child {
  padding-bottom: 0;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__block {
    padding-bottom: 140px;
  }
}

@media (width >= 1440px) {
  .about__block {
    padding-bottom: 170px;
  }
}

.about__block--row {
  grid-row: 1;
}

.about__content--first {
  opacity: 0;
  transform: translateX(100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .about__content--first {
    padding-right: 34px;
  }
}

@media (width >= 1440px) {
  .about__content--first {
    padding-right: 0;
  }
}

.about__content--second {
  opacity: 0;
  transform: translateX(-100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .about__content--second {
    padding-left: 34px;
  }
}

@media (width >= 1440px) {
  .about__content--second {
    padding-left: 0;
  }
}

.about__title {
  color: #333;
  margin: 0;
  padding-bottom: 30px;
}

@media (width >= 1440px) {
  .about__title {
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
  }
}

.about__title--mobile {
  opacity: 0;
  transform: translateX(-100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .about__title--mobile {
    display: none;
  }
}

@media (width >= 1440px) {
  .about__title--mobile {
    display: none;
  }
}

.about__title--desctoptablet {
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__title--desctoptablet {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    display: block;
  }
}

@media (width >= 1440px) {
  .about__title--desctoptablet {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    display: block;
  }
}

.about__title--second {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}

.about__picture {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 210px;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__picture {
    min-height: 415px;
  }
}

@media (width >= 1440px) {
  .about__picture {
    min-height: 388px;
  }
}

.about__picture--first {
  opacity: 0;
  background-image: url("DesignFuture.d5b05a26.png");
  transform: translateX(-100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .about__picture--first {
    background-image: url("DesignFuture.cc7241b6.png");
  }
}

@media (width >= 1440px) {
  .about__picture--first {
    background-image: url("DesignFuture.15daa2de.png");
  }
}

.about__picture--second {
  opacity: 0;
  background-image: url("LunaEYE.eabb4963.png");
  transform: translateX(100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .about__picture--second {
    background-image: url("LunaEYE.a0b57004.png");
  }
}

@media (width >= 1440px) {
  .about__picture--second {
    background-image: url("LunaEYE.d1f472d7.png");
  }
}

.about__description {
  color: #7c7c7c;
  margin: 20px 0 30px;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__description {
    min-width: 340px;
    margin: 0 0 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (width >= 1440px) {
  .about__description {
    min-width: 340px;
    margin: 0 0 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.about__link {
  color: #0db2b3;
  cursor: pointer;
  line-height: 14px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (width >= 1440px) {
  .about__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.about__link:after {
  content: "";
  border: 1px solid #0db2b3;
  width: 54px;
  margin-top: 5px;
  transition: width .3s;
  display: block;
}

.about__link:hover:after {
  width: 100%;
}

.about__rewiew {
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  display: flex;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__rewiew {
    padding-top: 60px;
    padding-inline: 30px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 744px) and (width <= 1439px) {
  .about__rewiew {
    padding-inline: 34px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 1440px) {
  .about__rewiew {
    padding-inline: 123px;
  }
}

@media (width >= 1440px) {
  .about__rewiew {
    padding-inline: 0;
    padding-top: 42px;
  }
}

.about__rewiew--text {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  position: relative;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__rewiew--text {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}

@media (width >= 1440px) {
  .about__rewiew--text {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}

.about__rewiew--text:after {
  content: "";
  opacity: .7;
  background-image: url("VectorAbout.891cdcb6.svg");
  background-position: center;
  background-size: cover;
  width: 208px;
  height: 171px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
}

@media (width >= 744px) and (width <= 1439px) {
  .about__rewiew--text:after {
    width: 233px;
    height: 189px;
  }
}

@media (width >= 1440px) {
  .about__rewiew--text:after {
    width: 233px;
    height: 189px;
    bottom: -42px;
  }
}

.about__rewiew--img {
  width: 62px;
  height: 62px;
}

.about__rewiew--name {
  color: #333;
  margin: 10px 0 5px;
}

@media (width >= 744px) and (width <= 1439px) {
  .about__rewiew--name {
    margin: 20px 0 5px;
  }
}

@media (width >= 1440px) {
  .about__rewiew--name {
    margin: 20px 0 5px;
  }
}

.about__rewiew--position {
  color: #7c7c7c;
  text-transform: capitalize;
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features {
  margin-top: 100px;
}

@media (width >= 744px) and (width <= 1439px) {
  .features {
    padding-inline: 30px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 744px) and (width <= 1439px) {
  .features {
    padding-inline: 34px;
  }
}

@media (width >= 744px) and (width <= 1439px) and (width >= 1440px) {
  .features {
    padding-inline: 123px;
  }
}

@media (width >= 1440px) {
  .features {
    padding-inline: 30px;
  }
}

@media (width >= 1440px) and (width >= 744px) and (width <= 1439px) {
  .features {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) and (width >= 1440px) {
  .features {
    padding-inline: 123px;
  }
}

.features__title {
  color: #333;
  opacity: 0;
  padding-bottom: 32px;
  margin: 0;
  padding-inline: 30px;
  transform: translateX(-100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .features__title {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .features__title {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .features__title {
    padding-inline: 0;
  }
}

@media (width >= 1440px) {
  .features__title {
    text-transform: uppercase;
    padding-inline: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
  }
}

.features__slider {
  background-color: #d6ecec;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media (width >= 744px) and (width <= 1439px) {
  .features__slider {
    padding-top: 60px;
  }
}

@media (width >= 1440px) {
  .features__slider {
    padding-top: 60px;
  }
}

.features__slider--navigation {
  flex-direction: column;
  display: flex;
}

@media (width >= 744px) and (width <= 1439px) {
  .features__slider--navigation {
    width: 100px;
    position: absolute;
    top: 385px;
    left: 90px;
  }
}

@media (width >= 1440px) {
  .features__slider--navigation {
    display: none;
  }
}

.features__slides {
  height: 100%;
  transition: transform .5s ease-in-out;
  display: flex;
}

@media (width >= 1440px) {
  .features__slides {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    height: auto;
    display: grid;
  }
}

.features__slide {
  box-sizing: border-box;
  flex-direction: column;
  flex: 0 0 100%;
  display: flex;
}

.features__slide--gridLineFirst {
  grid-column: 2 / 6;
}

@media (width >= 1440px) {
  .features__slide--gridLineFirst {
    padding-bottom: 56px;
  }

  .features__slide--gridLineFirst:last-child {
    padding-bottom: 59px;
  }
}

.features__slide--gridLineSecond {
  grid-column: 7 / 10;
}

.features__slide--desctopPicture {
  display: none;
}

@media (width >= 1440px) {
  .features__slide--desctopPicture {
    background-image: url("2.878f6dcf.png");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 7 / -1;
    height: 302px;
    display: block;
  }
}

.features__slide--title {
  color: #0c797a;
  margin: 0;
  padding-inline: 30px;
}

@media (width >= 744px) and (width <= 1439px) {
  .features__slide--title {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .features__slide--title {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .features__slide--title {
    padding-inline: 90px;
  }
}

@media (width >= 1440px) {
  .features__slide--title {
    text-transform: uppercase;
    padding-inline: 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
  }
}

.features__slide--lists {
  flex-direction: column;
  gap: 10px;
  margin: 20px 0 50px;
  padding-inline: 30px;
  list-style: none;
  display: flex;
}

@media (width >= 744px) and (width <= 1439px) {
  .features__slide--lists {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .features__slide--lists {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .features__slide--lists {
    margin-bottom: 0;
    padding-inline: 90px;
  }
}

@media (width >= 1440px) {
  .features__slide--lists {
    margin: 30px 0 0;
    padding-inline: 0;
  }
}

.features__slide--list {
  color: #333;
  padding-left: 20px;
  position: relative;
}

.features__slide--list:before {
  content: "•";
  color: #000;
  width: 4px;
  height: 4px;
  position: absolute;
  left: 1px;
}

.features__buttons {
  background-color: inherit;
  border: 0;
  padding: 0;
}

.features__buttons--left {
  width: 48px;
  height: 14px;
}

.features__buttons--left:hover {
  filter: brightness(0) saturate() invert(55%) sepia(22%) saturate(355%) hue-rotate(144deg) brightness(97%) contrast(91%);
}

.features__buttons--right {
  width: 48px;
  height: 14px;
}

.features__buttons--right:hover {
  filter: brightness(0) saturate() invert(55%) sepia(22%) saturate(355%) hue-rotate(144deg) brightness(97%) contrast(91%);
}

.features__buttons--isActive {
  filter: brightness(0) saturate() invert(19%) sepia(1%) saturate(0%) hue-rotate(144deg) brightness(94%) contrast(89%);
}

.features__buttons--isDisabled {
  filter: brightness(0) saturate() invert(73%) sepia(0%) saturate(0%) hue-rotate() brightness() contrast();
}

.features__numbers {
  text-align: center;
  color: #bdbdbd;
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.features__numbers--current {
  color: #333;
}

.features__picture {
  background-image: url("2.878f6dcf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 175px;
}

@media (width >= 744px) and (width <= 1439px) {
  .features__picture {
    background-position: 100%;
    height: 225px;
  }
}

@media (width >= 1440px) {
  .features__picture {
    display: none;
  }
}

.contacts {
  flex-direction: column;
  margin: 90px 0 110px;
  padding-inline: 30px;
  display: flex;
}

@media (width >= 744px) and (width <= 1439px) {
  .contacts {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .contacts {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .contacts {
    margin: 140px 0;
    display: grid;
  }
}

@media (width >= 1440px) {
  .contacts {
    margin: 170px 0;
    display: grid;
  }
}

.contacts__title {
  color: #333;
  opacity: 0;
  margin: 0;
  transform: translateX(-100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .contacts__title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
  }
}

@media (width >= 1440px) {
  .contacts__title {
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
  }
}

.contacts__container {
  opacity: 0;
  margin-top: 27px;
  transform: translateX(100px);
}

@media (width >= 744px) and (width <= 1439px) {
  .contacts__container {
    margin-top: 0;
  }
}

@media (width >= 1440px) {
  .contacts__container {
    margin-top: 0;
  }
}

.contacts__form {
  box-sizing: border-box;
  color: #bdbdbd;
  background-color: inherit;
  border: 1px solid #828282;
  border-radius: 1px;
  width: 100%;
  height: 48px;
  padding: 12px 20px;
  display: block;
}

.contacts__form::placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contacts__form:focus {
  color: #333;
  border: 1px solid #0c797a;
  outline: none;
}

.contacts__form:focus:invalid {
  color: #eb57574d;
  border: 1px solid #eb5757;
}

.contacts__form--textarea {
  resize: none;
  height: 148px;
  margin-top: 20px;
  font-family: inherit;
}

.contacts__button {
  color: #fff;
  cursor: pointer;
  background-color: #0db2b3;
  border: none;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 40px;
  margin-top: 30px;
  padding: 0;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.contacts__button:not(:disabled):hover {
  background-color: #0c797a;
}

.contacts__button--disabled {
  color: #fff;
  background-color: #cfeff0;
}

.footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-inline: 30px;
  display: flex;
}

@media (width >= 744px) and (width <= 1439px) {
  .footer {
    padding-inline: 34px;
  }
}

@media (width >= 1440px) {
  .footer {
    padding-inline: 123px;
  }
}

@media (width >= 744px) and (width <= 1439px) {
  .footer {
    margin-bottom: 30px;
    position: relative;
  }
}

@media (width >= 1440px) {
  .footer {
    margin-bottom: 30px;
    position: relative;
  }
}

.footer__logo {
  margin-bottom: 60px;
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .footer__logo {
    display: block;
  }
}

@media (width >= 1440px) {
  .footer__logo {
    margin-bottom: 65px;
    display: block;
  }
}

.footer__logo--img {
  width: 184px;
  height: 25px;
}

@media (width >= 1440px) {
  .footer__logo--img {
    width: 161px;
  }
}

.footer__button {
  background-color: inherit;
  cursor: pointer;
  border: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  display: none;
}

@media (width >= 744px) and (width <= 1439px) {
  .footer__button {
    display: block;
    position: absolute;
    top: 0;
    right: 35px;
  }
}

@media (width >= 1440px) {
  .footer__button {
    display: block;
    position: absolute;
    top: 0;
    right: 123px;
  }
}

.footer__icons {
  gap: 40px;
  display: flex;
}

.footer__icons--img {
  width: 24px;
  height: 24px;
  transition: all .5s;
}

.footer__icons--img:hover {
  transform: scale(1.2);
}

.footer__contant {
  text-align: center;
  color: #bdbdbd;
  margin: 30px 0 0;
}

@media (width >= 744px) and (width <= 1439px) {
  .footer__contant {
    margin: 60px 0 0;
  }
}

@media (width >= 1440px) {
  .footer__contant {
    margin: 60px 0 0;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
